
// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bulma/bulma.sass";
@import "~bulma-pageloader/pageloader.sass";

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

.pagination {
    justify-content: flex-end !important;
}

.dataTables_scrollBody{
  min-height: 200px !important;
}

.dt-button{
  background-color: #00d1b2 !important;
  border-color: #00d1b2 !important;
  color: #00d1b2 !important;
  padding: 0.1em 1em !important;
}
